#decibel-indicator {
    width: 95%;
    height: 30%;
    border: 5px solid #000;
    border-radius: 44px;
}

#decibel-meter {
    height: 100%;
    background-color: #008000;
    border-radius: 44px;
}

.interval {
    border-left: 1px solid #000;
    height: 100%;
    margin-left: 20px;
}

.label-min, .label-max{
    font-weight: bold;
    display: inline-block;
}

.label-max {
    float: right;
}

#decibel-display {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}